@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300');


:root{
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-lightred: #fce1e0;
    --primary-home: rgb(172, 135, 80);
}

body {
    font-family: 'Lora', serif;
    background-color: var(--primary-white);
   }
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }

/****************NAVBAR*******************/

.Link {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}

.Link:hover {
  text-decoration: none !important;
}


nav a.nav-link {
    padding-top: 0;
    border-top: 0cm;
    font-weight: 100;
    letter-spacing: 0.0375rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


.navbar-nav > li > a {
    color: black;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 !important;
    cursor: pointer;

}



.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-bottom: 0.1875rem solid var(--primary-lightred);
}

.navbar-nav > li > a:hover {
    border-bottom: 0.1875rem solid var(--primary-home);
    text-decoration: none !important;
    
}


/**********HEADER***************/

.jumbotron{
  background-image: url(bed.jpeg)!important;
  background-position: center;
  background-size: cover;
  
}

/*****************CONT*****************/

.productcolor{
  background-color: #eeeeee;
}
.caro{
  justify-content: center !important;
  align-items: center !important;
}

/**********FOOTER************/
.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626b9;
  color: #242424 !important;
  margin-bottom: 0;
  padding-bottom: 0
}